<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://global-uploads.webflow.com/5b685812f109cf81a7d99e25/5b75506b2c58c566c829622b_Favicon.png" rel="shortcut icon" type="image/x-icon"/>
  <link href="https://global-uploads.webflow.com/5b685812f109cf81a7d99e25/5b75507f63ff82cc0d10924d_webclip.png" rel="apple-touch-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
  <title>Beam Rider | E-Scooter Plotter</title>
</head>

<body>
  <div id="root"></div>
  <noscript>
    You need to enable Javascript to run this app.
  </noscript>
</body>

</html>